.post-upload {
  &__container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  &__title {
    padding-bottom: 1rem;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__field {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    button {
      margin-left: 0;
    }
  }
}

.add-group {
  * {
    align-items: center;
  }
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-file {
  width: 100%;
}
