.post-upload {
  &__container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }
  &__title {
    padding-bottom: 2rem;
    margin: auto;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__field {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    button {
      margin-left: 0;
    }
  }
  &__aling {
    display: flex;
    flex-direction: row;
  }
}

.form-control-file {
  width: 300px;
  height: 100px;
  font-weight: 200;
}
