@use "./typography";
@use "./mixins" as *;
@use "./variables" as *;

* {
  margin: 0;
  font-family: "Nunito", "Arial";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  * {
    overflow: hidden;
  }
}

h1 {
  @include fontStyle(1.5rem, 2rem, 700);
}

h2 {
  @include fontStyle(0.75rem, 1.25rem, 700);
}

h3 {
  @include fontStyle(0.8125rem, 1.125rem, 700);
}

p {
  @include fontStyle(0.8125rem, 1.125rem, 400);
}

label,
button {
  @include fontStyle(0.625rem, 1.25rem, 700);
}

.app {
  display: flex;
  justify-content: center;
  .button-new {
    background-color: black;
  }
}

.card-new {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.icon-small {
  width: 24px;
  height: 50px;
}

ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  display: inline-block;
}

.button {
  background-color: $purple-primary;
  color: white;
  border: none;
  width: 50%;
  height: 3rem;
  border-radius: 4px;
  text-align: center;
}

a {
  text-decoration: none;
}
