@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
}

// @font-face {
//     font-family: 'AvenirNext' ;
//     src: url('@/assets/font/AvenirNextLTPro-Demi.otf') format("opentype");
//     font-weight:600;
// }

// @font-face {
//     font-family: 'AvenirNext' ;
//     src: url('@/assets/font/AvenirNextLTPro-Bold.otf') format("opentype");
//     font-weight: 700;
// }
