// ***colors***
$purple-primary: #5c0476;
$blue-primary: #0714a0;
$orange: #f9751b;
$white: #ffff;
$dark-black: #000000;
$light-blue: #35a7ff;

//***fonts***
$font-regular: 400;
$font-demi: 600;
$font-bold: 700;

//***breakpoints***
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
