@use "../../partials/variables" as *;

.button-group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  img {
    height: 20px;
  }
}

.icon-small {
  height: 50px;
}
