@use "../../partials/variables" as *;

.button-group {
  width: 100%;
  display: flex;

  justify-content: flex-end;
  align-items: center;
  padding: 1rem 2rem;
  img {
    height: 20px;
    width: 20%;
  }
}

.icon-small {
  height: 50px;
}
