.message {
  &__container {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 2rem;
    border-bottom: 0.0313rem solid lightgrey;
  }
  &__from {
    align-content: center;
  }
  &__content {
  }
}
